@import 'layouts/main.scss';
@import 'layouts/about.scss';

*,
*::before,
*::after {
	box-sizing: border-box;
	margin: 0;
	padding: 0;
}

html,
body {
	height: 100%;
}

body {
	font-family: 'Roboto', sans-serif;
	font-size: 14px;
	line-height: 1;
}

ul {
	list-style: none;
}

a {
	text-decoration: none;
}

.container {
	max-width: 1200px;
	margin: 0 auto;
}

.heading {
	font-size: 36px;
	font-weight: 500;
}
